@import 'tailwindcss';

@theme {
  --color-brand-cyan: #00cfff;
  --color-brand-blue: #00afff;
  --color-brand-navy: #0b1120;
  --color-brand-navy-light: #151e32;
  --color-brand-accent: #38bdf8;

  --font-sans: 'Inter', sans-serif;
}

body {
  background-color: var(--color-brand-navy);
  color: white;
  font-family: var(--font-sans);
}
